<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>投稿一覧</h1>
    <%= link_to "投稿する", new_topic_path, class: 'btn btn-default' %>
    <% @topics.each do |topic| %>
      <div class="row">
        <h6><%= new_profile_img(@users[topic.user_id - 1],"50x50") if profile_img(@users[topic.user_id - 1]) %>
        <%= link_to user_path(topic.user_id) do %>
        <%= @users[topic.user_id - 1].name %>
        <% end %>
        さんの投稿</h6>
        <%= link_to topic_path(topic) do %>
          <h4><strong><%= topic.title %></strong></h4>
        <% end %>
        <p><%= topic.content %></p>
        <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
